body#catchall {
  /*background-image: url('http://wallpoper.com/images/00/26/43/92/hal-9000_00264392.jpg');*/
  background: url('../pics/hal-9000_catchall.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-size: cover;
  background-position: fixed;*/
}

body#loginPage {
  /*background-image: url('http://wallpoper.com/images/00/26/43/92/hal-9000_00264392.jpg');*/
  background: url('../pics/strangelove_splash.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-size: cover;
  background-position: fixed;*/
}

body#aboutPage {
  background: url('../pics/thirdman_about.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#loginJumbo {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  background: rgb(0, 0, 0); /* This is for ie8 and below */
  background: rgba(0, 0, 0, 0.5); 
  /*-vendor-animation-iteration-count: infinite;*/
}

div#aboutJumbo, div#signupJumbo {
  background: rgb(0, 0, 0); /* This is for ie8 and below */
  background: rgba(0, 0, 0, 0.7);
}

.thumbnail a>img {
  height: 317px;
}

.thumbnail .btn {
  display: block;
  margin: 0 auto;
}

.table td img {
  width: 185px;
  height: 278px;
}

.table tbody>tr>td.vert-align {
  /*display: inline-block;*/
  vertical-align: middle;
  /*float: none;*/
}

.poster {
  width: 185px;
}

img#showPoster {
  max-height: 400px;
  margin-left: 2em;
}

img#profilePic {
  max-height: 300px;
  box-shadow: 0 0 30px black;
}

img.friendPic {
  max-height: 200px;
  /*max-width: 200px;*/
}

.thumbnail {
  box-shadow: 0 0 30px black;
}