<% include ../partials/header %>

<!-- <div class="container-fluid">
  <div class="page-header">
    <h1>About cinefile</h1>
  </div>
</div> -->

<div class="container">
  <div id="aboutJumbo" class="jumbotron animated fadeIn">
    <h1>About cinefile</h1>
    <p>Cinefile is a web application that is used to keep track of a user's movie collection. A user can easily search for movies by title and add them to their collection.</p>
    <p>A user can also friend other users and look at their collections. A request can be made to rent a movie from the friend.</p>

    <!-- <img src="https://media4.giphy.com/media/VxbP9tLeKzazm/200.gif" alt=""> -->
    
  </div>
  
</div>

<% include ../partials/footer %>