<div class="container">
  <div id="loginJumbo" class="jumbotron animated fadeInUp">
    <form name="loginForm" ng-submit="login(user)" >
      <div class="form-group">
        <label for="username"> Username:</label>
        <input type="text" ng-model="user.username" id="username" name="username" class="form-control" autofocus>
      </div>
      <div class="form-group">
        <label for="password"> Password:</label>
        <input type="password" ng-model="user.password" id="password" name="password" class="form-control">
      </div>
      <input type="submit" value="Login" class="btn btn-primary">
      <p class="pull-right"><a href="/signup">Not a user? Sign Up</a></p>
    </form>
  </div>
</div>

<style type="text/css">
  body {
    background: url('../pics/strangelove_splash.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
  }
  
</style>