<h1>{{errors}}</h1>
<div class="container">
  <div id="signupJumbo" class="jumbotron">
    <form  name="signupForm" ng-submit="signup(user)" novalidate>
      <div ng-class="{'form-group': true, 'has-error': signupForm.username.$invalid && signupForm.username.$dirty, 'has-success': signupForm.username.$valid && signupForm.username.$dirty}">
        <label for="username" class="control-label">Username:</label>
        <input type="text" ng-model="user.username" id="username" name="username" class="form-control" ng-minlength="3" ng-maxlength="12" ng-required="true" autofocus>
        <span ng-show="signupForm.username.$invalid && signupForm.username.$dirty" class="help-block">Enter valid username</span>
      </div>
      <div ng-class="{'form-group': true, 'has-error': signupForm.password.$invalid && signupForm.password.$dirty, 'has-success': signupForm.password.$valid && signupForm.password.$dirty}">
        <label for="password" class="control-label">Password:</label>
        <input type="password" ng-model="user.password" id="password" name="password" class="form-control"  ng-minlength="3" ng-maxlength="12" ng-required="true">
        <span ng-show="signupForm.password.$invalid && signupForm.password.$dirty" class="help-block">Enter valid password</span>
      </div>
      <div ng-class="{'form-group': true, 'has-error': signupForm.avatar.$invalid && signupForm.avatar.$dirty, 'has-success': signupForm.avatar.$valid && signupForm.avatar.$dirty}">
        <label for="avatar" class="control-label">Avatar:</label>
        <input type="url" ng-model="user.avatar" id="avatar" name="avatar" class="form-control" placeholder="Enter Avatar URL">
        <span ng-show="signupForm.avatar.$invalid && signupForm.avatar.$dirty" class="help-block">Enter valid URL</span>
      </div>
      <div ng-class="{'form-group': true, 'has-error': signupForm.email.$invalid && signupForm.email.$dirty, 'has-success': signupForm.email.$valid && signupForm.email.$dirty}">
        <label for="email">Email:</label>
        <input type="email" ng-model="user.email" id="email" name="email" class="form-control" placeholder="Enter Email">
        <span ng-show="signupForm.email.$invalid && signupForm.email.$dirty" class="help-block">Enter valid email</span>
      </div>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" ng-model="user.firstName" id="firstName" name="firstName" class="form-control">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" ng-model="user.lastName" id="lastName" name="lastName" class="form-control">
      </div>

      <!--
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" ng-model="user.city" id="city" name="city" class="form-control" placeholder="Enter Current City">
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" ng-model="user.state" id="state" name="state" class="form-control" placeholder="Enter Current State">
      </div>
      -->
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" ng-model="user.city" id="city" name="city" class="form-control" placeholder="Enter Current City">
      </div>
      <input type="submit" value="Sign Up" class="btn btn-primary">
      <a href="/" class="btn btn-danger pull-right">Cancel</a>
    </form>
    <h2>This is the user: {{user}}</h2>
  </div>
</div>

<style type="text/css">
  body {
    background: url('../pics/strangelove_splash.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
  }
</style>
<script type="text/javascript">
  var autocomplete;

  function initAutocomplete() {
    var input = document.getElementById('city');
    autocomplete = new google.maps.places.Autocomplete(input,{types:['geocode']});

    // grab lat and long and add to hidden input fields when autocomplete changes
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace(); //store place object
      // input.value = place.name;
      // document.getElementById('city2').value = place.name;
      // document.getElementById('cityLat').value = place.geometry.location.lat();
      // document.getElementById('cityLng').value = place.geometry.location.lng();
    });

    function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }

      input.addEventListener('focus', geolocate);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADGWnVbt-khTQsmqgJTymk-etVdokhzWc&libraries=places&callback=initAutocomplete"></script>