<% include ../partials/header %>



<form action="/friends/new" class="form-inline">
  <div class="form-group">
    <label for="friendSearch">Search For Friend: </label> <!-- add email option -->
    <input type="text" class="form-control" id="friendSearch" name="friendSearch" placeholder="Enter Username">
    
  </div>
</form>

<h1>PAGE UNDER CONSTRUCTION</h1>
<img src="https://media2.giphy.com/media/GKQ16p1lhHmfK/200w.gif" alt="" width="25%">
<% include ../partials/footer %>