<% include ../partials/header %>

<h1>This is a placeholder for Users.ejs</h1>

<form action="/friends/new">
  <label for="friendSearch">Search for friend</label> <!-- add email option -->
  <input type="text" id="friendSearch" name="friendSearch" placeholder="Enter Friend's Username">
</form>

<% include ../partials/footer %>